body {
    margin: 60px auto;
    background-image: linear-gradient(to bottom right, #379683, #8EE4AF);
    margin-left: -100px;
    margin-right: -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #EDF5E1;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


.Corrin {
    font-family: cursive;
    font-style: italic;
    text-align: center;
    color: #EDF5E1; 
}
.photo {
    display:grid;
}
.picture {
    width: 300px;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.Text {
    color:#EDF5E1;
    font-size: x-large;
    font-family: cursive;
    text-align: center;
}
